@import 'tailwindcss';

.myName{
  /* background-image: url("/public/frontend.png");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: black;
  width: 100%;
  height: 400px;
 display: flex;
 flex:wrap;
 align-items: center;
 justify-content: center;
}